<%= erb :menu if request.xhr? %>
<div class="container has-text-centered">
  <p class="title">Question <%= question_number %></p>

<!--   <% if flash[:info] %>
    <h2><%= flash[:info] %></h2>
    <% flash[:info] = nil %>
  <% end %>
  <% if flash[:info] %>
    <h2 style='font-color:red'><%= flash[:info] %></h2>
  <% end %> -->

  <% choices_array = @game.current_question.choices %>

  <div class="container">

  <form method="post" action="/play">
    <% @game.current_question.choices.each_with_index do |choice_url, index| %>
      <div style="display:inline-flex;flex-direction:rows;">
        <label name="choice_index">
          <div class="box image_container" style="background-color: <%= @border_color && @selected_answer == index ? @border_color : 'transparent' %>">
            <img src="<%= choice_url %>" height="256px" width="256px">
          </div>
          <% unless @selected_answer && @border_color == 'green' %>
            <input type="radio" name="choice_index" value="<%= choices_array.find_index(choice_url) %>">
          <% end %>
        </label>
      </div>
    <% end %>


      <div class="content is-large">
        <% unless @border_color == 'green' %>
          <p>Click and drag <strong id="question" class="button"><%= @game.current_question.word %></strong> to the correct picture.</p>
        <% else %>
          <h1>Correct!</h1>
        <% end %>
      </div>

      <script>
        $(function() {
          var b_color = "<%= @border_color %>";
          if (b_color === 'red' || b_color === 'green') {
            $('.image_container').css('animation-name','none');
          };
          if (b_color === 'red' || b_color === '') {
            $('#button-next').css('visibility','hidden');
          };
        })
      </script>

      <button id="submit-button" type="submit">
        Submit
      </button>

    </form>

      <span><a class='button is-large is-primary' id="button-next">Next</a></span>

  </div>

  <div class="container is-fluid" style="margin: 20px;">
    <progress class="progress is-primary" value="<%= @game.question_number %>" max="10"><%= Game::NUMBER_OF_QUESTIONS %>%</progress>
  </div>

</div>